<!DOCTYPE html>
<html lang="de"><head>
<meta charset="utf-8">
<title>Blog-Test{% if page.title %}: {{page.title}}{% endif %}</title>
<link rel="stylesheet" href="{{site.url}}{{site.baseurl}}/res/main.css">
</head><body>
<header><h1>Blog-Test</h1>
<a href="{{site.url}}{{site.baseurl}}/">Start</a>
</header>
{{content}}
<footer><ul>
<li><a href="{{site.url}}{{site.baseurl}}/">Startseite</a></li>
<li><a href="{{site.url}}{{site.baseurl}}/feed.rss">RSS-Feed</a></li>
</ul><p>
{% assign months = "Januar|Februar|März|April|Mai|Juni|Juli|August|September|Oktober|November|Dezember" | split: "|" %}
{% assign m = site.time | date: "%-m" | minus: 1 %}
Stand: {{months[m]}} {{site.time | date: "%Y"}}
</p></footer>
</body></html>